.ml15 {
    font-weight: 800;
    font-size: 3.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.ml15 .word {
    display: inline-block;
    line-height: 1em;
}

img {
    box-shadow: 0 1px 2px #0003;
    width: 100%;
  }
  
  .swiper {
    width: 900px;
    height: 500px;
  }
  
  .swiper-slide {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media (max-width: 450px) {
    .swiper {
      height: 270px;
      
    }
  }


  @media (max-width: 768px) {
    .ml15 {
        font-size: 2.5em; 
        letter-spacing: 0.3em; 
    }
}

.swiper {
    width: 100%;
    max-width: 900px; 
    height: 500px;
    margin: 0 auto; 
}

@media (max-width: 768px) {
    .swiper {
        height: 300px; 
    }

    
}

.project-img img {
    width: 100%;
    height: auto;
    box-shadow: 0 1px 2px #0003;
}


